body{
  background-color: #8cc0d8;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.try{
  position: relative;
  left: 15px;
  top:5px;
  width: 267px;
  height: 268px;
  border-radius: 10px;
}
.news{
  width: 299px;
  height: 455px;
  background: #FFFFFF;
  border-radius: 20px;
}
.was1{
  position: relative;
  left: 25px;
  top:15px;
  width: 269px;
  height: 81px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;

  color: #645B5B;
}
.was2{
  position: relative;
  left: 25px;
  bottom: 15px;
  width: 210px;
  height: 37px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;

  color: rgba(0, 0, 0, 0.35);


}
